* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;

  --text-gray: #808184;

  --light-gray1: #dfe4e9;
  --light-gray2: #f0f1f4;
  --light-gray3: #F8F8FA;
}

.board-container {
  width: 100%;
  height: calc(100vh - 68px);
  background-color: var(--light-gray2);
  overflow-x: auto;
}

.board-list {
  width: max-content;
  display: flex;
}
